.map-container {
  height: 400px;
  width: 800px;
}

.map-popup {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif
}